body {
    /* fallback for old browsers */
    background: #0f100f;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(15,16,15,1), rgba(77,86,91,1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(15,16,15,1), rgba(77,86,91,1));

    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -9000;
}

.App {
  text-align: center;
}

.navbar {
    padding: 16px 24px;
    
    /* fallback for old browsers */
    background: #000000;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(44, 43, 43), rgba(41,18,64,1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgb(44, 43, 43), rgba(41,18,64,1));

    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 50;
    margin-right: 8px;
}

.navbar-link {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding-right: 24px;
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
}

.page-content {
    margin: 0 auto;
    max-width: 756px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}


.info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-title {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 24px 0 8px;
}
.info-text {
    font-size: 16psx;
    color: white;
    padding: 24px 0 8px;
}